<form [formGroup]="form" (ngSubmit)="signIn(form)">

    <div class="alert alert-danger" *ngIf="form.errors">Invalid Credentials...</div>

    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="email">EMAIL ADDRESS</label>
        <input type="text" class="form-control" id="email" formControlName="email">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
            <div *ngIf="email.errors.required">Email is Required.</div>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="password">PASSWORD</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
            <div *ngIf="password.errors.required">Password is Required.</div>
        </div>
        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-primary smMarginTop" [disabled]="!form.valid">SIGN IN</button>
    </div>
    
    
</form>
<span class="forgotP" (click)="showForgot()">Forgot password?</span>
<div id="myModal" class="modal" *ngIf="isSuccess" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Coming Soon...</h2>
            </div>
        </div>
    </div>
</div>