<div>
    <h2>INTRODUCTION</h2>
    <p>Dear Healthcare Professional,</p>
    <p>We are pleased to welcome you to take part in the Merck-sponsored Satellite Symposium –
        <span style="color: #E8308A">How to improve ART efficiency and risk management to shorten time to live birth</span> – coming to you LIVE via webcast from the annual European Society of Human Reproduction and Embryology (ESHRE) meeting in Barcelona, Spain, on Monday, July 2nd, 2018.</p>
    <p>During our symposium we will focus on strategies to shorten time to live birth, visiting new and emerging approaches to optimize outcomes and manage risk. There overall consensus that the outcome of the best ovarian stimulation procedure
        is to achieve an optimal number of oocytes avoiding complications as ovarian hyperstimulation syndrome (OHSS). However,
        it may now be time to rethink our approach as new strategies and better procedures have removed some of the risks
        associated with ovarian stimulation, while possibly improving IVF success with influence on time to live birth.</p>
    <p>The Merck Symposium will feature talks by renowned experts on the field of human reproduction and embryology who will
        elaborate on these and more factors.</p>
    <p>We invite you to explore the detailed symposium agenda as well as the speaker biographies, and look forward to your participation
        during this Symposium.</p>
    <p>Best regards,</p>
    <p>Merck</p>
</div>
<div>
    <button class="btn btn-primary" (click) = "viewAgenda()">VIEW AGENDA</button>
    <button class="btn btn-primary" (click) = "viewWebcast()">VIEW WEBCAST</button>
</div>